/* setting color variables to be global */

:root {
    --header-height: 10%;
    --white: #EFF1F3;
    --black: #272727;
    --secondary: #009FB7;
    --primary: #FED766;
    --primary-greyed: #beab6f;
    --primary-selected: #ffe084;
    --grey: #696773;
    --light-grey: #d9d9d9;
    --lighter-grey: #ececec;
    --shade: rgba(0,0,0,.25);
    --light: rgba(255,255,255,0.3);
    --nue-shadow: 12px 12px 16px 0 var(--shade), -8px -8px 12px 0 var(--light);
    --error: #cc3333;
    --success: #33cc33;
}

* {
    font-family: 'Finlandica', sans-serif;
    color: var(--black);
}

body {
    margin: 0;
    padding: 0;
    background: var(--black);
    min-height: 100%;
}


h1 {
    border-bottom: 2px solid var(--primary);
    border-radius: 2px;
    margin: auto;
    padding: auto;
}


main, header, section, aside, footer {
    margin: 0;
    padding: 20px;
    color: var(--black);
}

main {
    box-sizing: border-box;
    width: 100%;
    background: #00000000;
    padding: 0px;
    min-height: 100%;
}

/* #region header */

.header {
    position: fixed;
    box-sizing: border-box;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: var(--header-height);
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    background-color: var(--white);
    z-index: 99;
}

.header #profile-picture {
    max-height: calc((var(--header-height)/1.5));
    border-radius: var(--header-height);
}

.header .wrapper {
    display: flex;
    margin: 0;
    height: 100%;
    align-content: center;
    flex: 1;
}

.header a {
    text-decoration: none;
    border-bottom: 2px solid var(--primary);
    font-family: 'Finlandica', sans-serif;
    align-self: center;
    padding-right: 40px;
}

/* #endregion */

/* #region section info */
.hero {
    background: linear-gradient( rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 50%,var(--black) 95%),
    url("/static/img/splash/hero.webp");
    background-size: cover;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.demo {
    box-sizing: border-box;
    flex-direction: column;
    background-color: var(--black);
    flex: 1;
    overflow: hidden;
    padding: 10px;
    gap: 15px;
    height: 30vmax;
    align-items: stretch;
}

.wrapper {
    margin: auto;
    max-width: 1920px;
}

.content {
    box-sizing: border-box;
    flex-direction: column;
    background-color: var(--black);
    flex: 1;
    overflow: hidden;
    padding: 10px;
    gap: 15px;
}

.sidebar {
    background: var(--black);
    flex: 0 1 300px;
    overflow-y: scroll;
    max-height: 2000px;
    padding: 10px;
    gap: 15px;
}

.cards {
    background: var(--black);
    height: 40vh;
    display: flex;
    box-sizing: border-box;
    padding: 10px;
    overflow: visible;
    align-items: flex-start;
    height: fit-content;
}

.footer {
    background: var(--primary);
}

/* #endregion */

iframe.terminal-demo {
    width: 50vw;
    height: 40vh;
    border: none;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.container {
    background: var(--white);
    box-shadow: 0 0 10px var(--black);
    transition: box-shadow 0.2s ease;
    border-radius: 10px;
    padding: 10px;
    max-width: 100%;
    overflow: hidden;
    align-items: stretch;
}

.container.divider.vertical {
    align-items: center;
    width: 0.2vmax;
}
.container.divider.horizontal {
    flex-direction: column;
    align-items: center;
    height: 0.2vmax;
}

.image img {
    max-width: 100%;
    max-height: 100%;
}


.card-wrapper {
    box-sizing: border-box;
    gap: 20px;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: flex-start;
    width: 100%;
}

.scroll-wrapper {
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}


.card {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    flex: 1 0 calc(100% - 40px);
    min-width: 300px;
    width: fit-content;
    max-width: 20%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    transition: all 0.2s ease;
}

.card:hover {
    transform: scale(1.02);
}

.card * {
    flex-grow: 1;
}

.progress-bar {
    display: block;
    box-sizing: border-box;
    max-height: fit-content;
    width: 100%;
    min-height: 3px;
    background-color: var(--light-grey);
    position: relative;
    float: left;
    border-radius: 10px;
    padding: 0;
}

.progress-bar.indicator {
    background-color: var(--primary);
    height: 100%;
    top:0;
    left: 0;
    position: absolute;
    z-index: 1;
}

.progress-bar p {
    margin: 0;
    margin-left: 1em;
    position: relative;
    z-index: 2;
}

.container.hover:hover {
    box-shadow: var(--nue-shadow)
}

.selection:hover {
    box-shadow: var(--nue-shadow)
}

.divider-vertical {
    background-color: var(--primary);
    width: 100%;
    height: 70%;
}

.divider-horizontal {
    background-color: var(--primary);
    width: 70%;
    height: 100%;
}


.pressed-small {
    box-shadow: 
    5px 5px 6px 0 var(--shade) inset,
    -5px -5px 6px 0 var(--light) inset;
}

.login-parent{
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(/static/img/background.webp);
    background-size: cover;
}

.login{
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 3vh 3vh 3vh 3vh;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form.message {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form.message.error {
    color: var(--error)
}

.form.message.success {
    color: var(--success);
}

.input.message {
    margin-bottom: auto;
}

.form {
    margin-bottom: 1rem;
}

.form:first-child {
    margin-top: 1rem;
}


.form.input {
    outline: none;
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid var(--light-grey);
    background: var(--lighter-grey);
    transition: all 0.4s ease, background 0.4s ease, border-color 0.8s ease;
    font-size: 1.5rem;
}

.form.input:focus {
    border-color: var(--primary);
    background: var(--white);
}

.form.input.error {
    border-color: var(--error);
    color: var(--error);
}
.form.message.error p {
    margin-top: 5px;
    font-size: 1.3rem;
    border-color: var(--error);
    color: var(--error);
}

.form.input.error.message {
    margin-top: 0.5rem;
}

.form h1 {
    font-size: 180%;
}

.form.button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    background: var(--primary);
    transition: all 0.3s;
}

.form.button:disabled {
    background: var(--light-grey);
    transform: scale(0.98);
}

.form.button:not(disabled)hover {
    background: var(--primary-selected);
    transform: scale(1.02);
}

.grow {
    transition: transform 0.3s;;
}

.grow:focus {
    transform: scale(1.02);
}

.form.text{
    text-align: center;
    font-size: 1.1rem;
}

.form.link{
    text-decoration: underline;
}

.hidden {
    display: none !important ;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    max-width: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: var(--black);
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

/* #region overwrites */
.no-shadow {
    box-shadow: none;
}

.container.always-hover {
    box-shadow: var(--nue-shadow);
}

.container.always-hover.mini {
    box-shadow: 
    5px 5px 6px 0 var(--shade),
    -5px -5px 6px 0 var(--light);
}

.container.hover.mini:hover {
    box-shadow: 
    5px 5px 6px 0 var(--shade),
    -5px -5px 6px 0 var(--light);
}

.max {
    width: 100%;
    height: 100%;
}

/* #endregion */

/* #region media queries */
 /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    :root{
        --header-height: 60px;
    }
    .header a {
        padding-right: 10px;
        max-width: calc(var(--header-height) + 20px);
        font-size: medium;
    }
    .no-show {
        display: none;
    }
    .card {
        box-shadow: var(--nue-shadow);
    }
    .container.hover {
        box-shadow: var(--nue-shadow)
    }
    .container.no-mobile-hover {
        box-shadow: none;
    }

    iframe.terminal-demo {
        width: 80%;
    }
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    :root{
        --header-height: 60px;
    }
    .header a {
        padding-right: 10px;
    }
    .no-show {
        display: none;
    }

    .card {
        box-shadow: var(--nue-shadow);
    }

}
 
 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    :root{
        --header-height: 60px;
    }

    .flex-container {
        display: flex;
    }

    .header a {
        font-size: 150%;
        padding-right: 20px;
        max-width: auto;
    }

    .no-show {
        display: inherit;
    }
}
 
 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    :root{
        --header-height: 60px;
    }

    .header a {
        padding-right: 40px;
    }

    .card {
        box-shadow: none;
    }

    .card.no-scroll-web {
        flex-grow: 1;
        flex-basis: 0;
        flex-shrink: 0;
    }

}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    :root{
        --header-height: 60px;
    }

    .header a {
        padding-right: 40px;
    }
} 

/* #endregion */