:root {
    --header-height: 10vh;
    --white: #EFF1F3;
    --black: #272727;
    --secondary: #009FB7;
    --primary: #FED766;
    --grey: #696773;
    --light-grey: #d5d5d5;
}

* {
    font-family: 'Finlandica', sans-serif;
    color: var(--black);
}

body {
    background-color: var(--black);
}

.divider-vertical {
    background-color: var(--grey);
    width: 1px;
}

.divider-horizontal {
    background-color: var(--grey);
    height: 1px;
    width: 80%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: var(--header-height);
    background-color: var(--white);
    display: flex;
    align-content: center;
    justify-content: center;
    z-index: 999;
}

.header div {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
    background-color: inherit;
}

.header div a {
    text-decoration: none;
    border-bottom: 2px solid var(--primary);
    max-height: 100%;
    font-family: 'Finlandica', sans-serif;
    font-size: 150%;
    float: right;
    align-self: center;
    color: var(--black);
    background-color: var(--white);
    padding-right: 40px;
}

.header h1 {
    font-family: 'Finlandica', sans-serif;
    float: right;
    margin: auto;
    padding: auto;
    align-self: center;
    color: var(--black);
    background-color: var(--white);
}


.item-container {
    background-color: var(--white);
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: space-between;
    align-items: stretch;
    justify-items: center;
    margin: 30px;
    padding: 10px;
    box-shadow: 0 0 10px #000000;
}

.item-textbox {
    padding: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 150%;
}

.item-image {
    display: flex;
    justify-content: center;
    align-content: stretch;
    margin: 10px;
}
.item-image img {
    flex: 1;
    max-width: 30vw;
}

.card-container {
    display: flex;
    width: 500px;
    flex: 0 0 auto;
}

.scroll-wrapper {
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    box-shadow: inset 0 0 20px  #000000;
}

.card-wrapper {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    padding: 20px 20px 40px 40px;
    gap: 0px;
}

.card-item {
    display: flex;
    justify-content: center;
    overflow: visible;
    max-width: 100%;
    flex: 1;
}

.card-container {
    box-sizing: border-box;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding: 1rem 1.6rem;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #000000;
}

.card-head {
    background: inherit;
    text-align: center;
    overflow: visible;
    flex: 1;
    width: 100%;
}

.card-head h1 {
    background: inherit;
    color: var(--black);
    font-size: 1.6rem;
    padding: 0.4rem 0;
}

.card-image {
    box-sizing: border-box;
    background: inherit;
    flex: 1;
    width: 100%;
    border-top: 2px solid var(--secondary);
    border-radius: 2px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.card-image img{
    max-height: 300px;
    max-width: 100%;
    box-shadow: 0 0 5px var(--grey);
}

.card-expand {
    border-top: 2px solid var(--secondary);
    border-radius: 2px;
    color: var(--black);
    padding: 10px;
}

.card-expand p {
    background: inherit;
    color: var(--black);
}

.card-expand a {
    background: inherit;
    color: var(--black);
}