.nav-btn {
    width: var(--header-height);
    box-sizing: border-box;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
    transition: box-shadow 0.2s ease;
}

.nav-btn > span {
    background: var(--white);
    color: var(--black);
    font-size: calc(var(--header-height) / 2);
}

.nav-panel {
    --nav-width: 40%;

    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    top: var(--header-height);
    left: 0px;
    width: var(--nav-width);
    height: 100%;
    background: none;
    overflow-y: scroll;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.25s ease;
}

.nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--white);
    width: 100%;
    border-radius: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 10px;
    padding: 20px;
}

.nav-link {
    left: 0;
    align-items: center;
    display: flex;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 0 var(--black);
    transition: box-shadow 0.2s ease;
}

.nav-link a {
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    margin-top: 2px;
    text-decoration: none;
    background-color: #00000000;
    border-bottom:1px solid var(--primary);
    border-radius: 2px;
}

/*
.nav-link:hover {
    box-shadow: 0 0 6px var(--light-grey), inset 0 0 2px var(--light-grey);
} */

.nav-open {
    transform: translateX(0);
}

.nav-overlay {
    display: none;
    position: fixed;
    top: var(--header-height);
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 9;
    background-color: rgba(0,0,0,0.1)
}

.nav-overlay-open {
    display: block;
}


/* #region media queries */
 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .nav-panel{
        --nav-width: 100%;
    }
}

 /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-panel{
        --nav-width: 100%;
    }

}
 
 /* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav-panel{
        --nav-width: 60%;
    }
}
 
 /* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
} 

/* #endregion */