.nav-btn {
    width: var(--header-height);
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    background: none;
    cursor: pointer;
    outline: none;
    border: none;
}

.nav-btn > span {
    background: var(--white);
    color: var(--black);
    font-size: calc(var(--header-height) / 2);
}

.nav-panel {
    --nav-width: 40vw;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: flex-start;
    top: 0px;
    left: 0px;
    width: var(--nav-width);
    height: 100%;
    background: var(--black);
    overflow-y: scroll;
    transform: translateX(calc(-1 * var(--nav-width)));
    transition: transform 0.25s;
}

.nav {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: var(--white);
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    gap: 10px;
    padding: 20px;
}

.nav-link {
    left: 0;
    align-items: center;
    display: flex;
    font-size: 24px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--white);
    box-shadow: 0 0 0 var(--black);
    transition: box-shadow 0.2s;
}

.nav-link a {
    box-sizing: border-box;
    padding: 10px;
    height: 100%;
    width: 100%;
    margin-top: 2px;
    text-decoration: none;
    background-color: #00000000;
    border-bottom:1px solid var(--primary);
    border-radius: 2px;
}


.nav-link:hover {
    box-shadow: 0 0 6px var(--light-grey), inset 0 0 2px var(--light-grey);
}

.nav-open {
    transform: translateX(0);
}

.nav-overlay {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.1)
}

.nav-overlay-open {
    display: block;
}