<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/css/main.css">
        <link rel="stylesheet" href="/static/css/nav.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        <section class="content flex flex-grow max" style="height: fit-content">
            <div class="container flex flex-grow">
                <div class="container no-shadow hover flex flex-grow" style="flex-direction:column; gap: 10px">
                    <h1>Your current courses</h1>
                    <section class="container no-shadow cards max">
                        <div id="current" class="card-wrapper scroll-wrapper no-shadow container flex flex-grow">
                            <div class="flex container no-shadow hover card">
                                <div name="loader" class="max flex flex-grow" style="justify-content:center; flex-direction: row; align-items: center; align-content: center;"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="container flex flex-grow">
                <div class="container no-shadow hover flex flex-grow" style="flex-direction:column; gap: 10px">
                    <h1>Courses we think you would like</h1>
                    <section class="container no-shadow cards max">
                        <div id="recommended" class="card-wrapper scroll-wrapper no-shadow container flex flex-grow">
                            <div class="flex container no-shadow hover card">
                                <div name="loader" class="max flex flex-grow" style="justify-content:center; flex-direction: row; align-items: center; align-content: center;"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="container flex flex-grow">
                <div class="container no-shadow hover flex flex-grow" style="flex-direction:column; gap: 10px">
                    <h1>Currently popular courses</h1>
                    <section class="container no-shadow cards max">
                        <div id="popular" class="card-wrapper scroll-wrapper no-shadow container flex flex-grow">
                            <div class="flex container no-shadow hover card">
                                <div name="loader" class="max flex flex-grow" style="justify-content:center; flex-direction: row; align-items: center; align-content: center;"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <div class="container flex flex-grow">
                <div class="container no-shadow hover flex flex-grow" style="flex-direction:column; gap: 10px">
                    <h1>Courses by your teacher</h1>
                    <section class="container no-shadow cards max">
                        <div id="teacher" class="card-wrapper scroll-wrapper no-shadow container flex flex-grow">
                            <div class="flex container no-shadow hover card">
                                <div name="loader" class="max flex flex-grow" style="justify-content:center; flex-direction: row; align-items: center; align-content: center;"><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </section>
        <script src="/static/js/views/courses.js"></script>
    </body>
</html>